.profile {

  .background {
    background-color: #fff;
    position: relative;
    z-index: 20;
    padding-top: 30px;
  }

  .avatar-holder {
    margin-bottom: 30px;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .list {
    text-align: center;
    button {
      margin-bottom: 10px;
    }
  }

  .modes {
    .mode {
      font-weight: 500;
      font-size: 25px;
      font-family: Montserrat, sans-serif;
      padding: 20px 0;
      margin-bottom: 40px;
      text-align: center;
      border-bottom: 2px #000 solid;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      &.active {
        border-left: 2px #000 solid;
        border-right: 2px #000 solid;
        border-top: 2px #000 solid;
        border-bottom: none;
      }

      a {
        text-decoration: none;
      }
    }
  }

  .stats {
    .general {
      background-color: #000;
      margin: 10px;
      margin-bottom: 30px;
      padding: 40px;
      color: #fff;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/images/general.jpg");
      background-position: center !important;
      border-radius: 5px;

      h2 {
        font-variant: small-caps;
        margin-bottom: 15px;
      }

      .skill {
        h2 {
          font-size: 32px;
          font-weight: 300;
          margin-bottom: 0px;
        }

        h3 {
          font-size: 35px;
          font-weight: 800;
        }
      }
    }

    .kits {
      .kit {
        margin: 10px;
        padding: 25px;
        color: #fff;
        background-position: center !important;
        border-radius: 5px;

        h2 {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 10px;
        }

        div {
          font-size: 14px;
        }
      }
    }
  }
}